<%- include ('layouts/main') %>

  <h3 class="text-center">Create Course</h3>
  <div class="container">
    <div class="text-left">
      <a class="btn btn-secondary mb-2" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
          fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          <path fill-rule="evenodd"
            d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
        </svg></a>
    </div>

    <form action="/create" method="post">
      <div class="form-group">
        <label for="exampleInputName">Coursename</label>
        <input type="text" name="name" class="form-control" placeholder="Coursename" required>
      </div>
      <div class="form-group">
        <label for="exampleInputName">Duration</label>
        <input type="text" name="duration" class="form-control" placeholder="Duration" required>
      </div>
      <div class="form-group">
        <label for="exampleInputName">Fees</label>
        <input type="text" name="fees" class="form-control" placeholder="Fees" required>
      </div>
      <div class="text-left">
        <button type="submit" class="btn-block btn btn-secondary mt-4">Create Course</button>
      </div>
    </form>
  </div>